/**
HEXģʽ��RGBģʽ
color0: #011935__RGB(1,25,53)
color1: #00343F__RGB(0,52,63)
color2: #1DB0B8__RGB(29,176,184)
color3: #37C6C0__RGB(55,198,192)
color4: #D0E9FF__RGB(208,233,255)
 */

@theme-color: #1db0b8;
@bg-color: #eeeeee;
@deep-color: #011935;
@front-color: #ffffff;

@padding-normal: 20rpx;

@font-size-largest: 1.4em;
@font-size-large: 1.2em;
@font-size-middle: 1em;
@font-size-small: 0.8em;
